.body{
  display: flex;
  justify-content: center;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin: 20px;
}
.container .user_question {
  padding: 20px;
  margin-top: 20px;
  color: #2e47e7;
}