.body {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin: 20px;
}
.container .search {
  margin-top: 10px;
  width: 400px;
  border: solid #2e47e7 1px;
}
